<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="TransientFaultHandlingFx" version="1.8.1" />
  <package id="WindowsAzure.Caching" version="1.1.0.0" />
  <package id="WindowsAzure.ServiceBus" version="1.6.0.0" />
  <package id="WindowsAzure.StorageClient.Library" version="1.6" />
</packages>